section.assortment
    .container
        table
            tr
                td.assortment__cell1 HEADLIGHTS
                td.assortment__cell2 HEADLIGHTS
            tr
                td.assortment__cell3 HEADLIGHTS
                td.assortment__cell4 HEADLIGHTS
