section.assortment
    .container
        table.table1
            tr
                td.assortment__cell1
                    .div1 HEADLIGHTS
                        br
                        span.text1 Headlights Projector, LED, Factory
                    .light: img.Headlights(src="images/Heaadlights.png" alt="pictures")
                td.assortment__cell2
                    .div2 Brake-discs
                        br
                        span.text2 Brake-discs, Factory NEW, Made of graphite alloys
                    .disc: img.brake(src="images/brake-disc.png" alt="pictures")
            tr
                td.assortment__cell3
                    .div3 Disks
                        br
                        span.text3 Wheels, Factory NEW, With neon lighting
                    .disk: img.Disk(src="images/Disk.png" alt="pictures")
                td.assortment__cell4
                    .div4 Сar seat
                        br
                        span.text4 Car seats, For sports cars, Best price and quality
                    .chair: img.Chair(src="images/Chair.png" alt="pictures")


