.contacts
    a.contact(href="index.html")
        i.fa.fa-user.contact__icon(aria-hidden="true")
        span.contact__text My Account

        a.contact(href="index.html")
            i.fa.fa-shopping-cart.contact__icon(aria-hidden="true")
            span.contact__text Cart

    a.contact(href="index.html")
        i.fa.fa-check-circle.contact__icon(aria-hidden="true")
        span.contact_text Checkout

    .container
        a.search-icon.contact__icon2(href="index.html")
            i.fa.fa-search(aria-hidden="true")