section.end
   .container1

     .container

         span.text CarStore
         span.text2 © 2017 .All Rights Reserved.

     .container

         .cards: img.cards__picture(src="images/card.png" alt="pictures")

