section.featured

 .container
    .title.title--with-bottom-line
        h2.featured__title.div1 FEATURED PRODUCTS

    ul.about__list
      li.about__item
        .icon.icon-engine
        h3.about__header CAR ENGINE
        p.about__description $300.00
        p.icon.icon-stars

      li.about__itme
        .icon.icon-headlights
        h3.about_header HEADLIGHTS
        p.about__description $300.00
        p.icon.icon-stars

      li.about__itme
        .icon.icon-headlights
        h3.about_header HEADLIGHTS
        p.about__description $300.00
        p.icon.icon-stars

