section.footer-medium
     .container
         ul.footer-medium__listing
            li.footer-medium__items

                 h2.footer-medium__title.div1 INFORMATION
                 hr
                 p.footer-medium__textmed Lorem ipsum dolor sit amet, consectetur adipiscing
                 p.footer-medium__textmed elit, sed do eiusmod tempor incididunt ut labore et
                 p.footer-medium__textmed dolore magna aliqua. Ut enim ad minim veniam, quils
                 p.footer-medium__textmed nostrud exercitation ullamco laboris nisi ut aliquip ex
                 p.footer-medium__textmed ea commodo consequat. Duis aute irure dolor in
                 p.footer-medium__textmed reprehenderit in voluptate velit esse cillum dolore eu
                 p.footer-medium__textmed fugiat nulla pariatur. Excepteur sint occaecat cupida-
                 p.footer-medium__textmed tat non prodient, sunt in culpa qui officia deserunt
                 p.footer-medium__textmed mollit anim id est laborum.


            li.footer-medium__items

                h2.footer-medium__title.div1 INFORMATION
                hr
                p.footer-medium__textmed Lorem ipsum dolor sit amet, consectetur adipiscing
                p.footer-medium__textmed elit, sed do eiusmod tempor incididunt ut labore et
                p.footer-medium__textmed dolore magna aliqua. Ut enim ad minim veniam, quils
                p.footer-medium__textmed nostrud exercitation ullamco laboris nisi ut aliquip ex
                p.footer-medium__textmed ea commodo consequat. Duis aute irure dolor in
                p.footer-medium__textmed reprehenderit in voluptate velit esse cillum dolore eu
                p.footer-medium__textmed fugiat nulla pariatur. Excepteur sint occaecat cupida-
                p.footer-medium__textmed tat non prodient, sunt in culpa qui officia deserunt
                p.footer-medium__textmed mollit anim id est laborum.


            li.footer-medium__item

                 h2.footer-medium__title.div1 CONTACT
                 hr
                 i.fa.fa-map-marker.footer-medium__number(aria-hidden="true")
                 span.footer-medium__textmed 123, Main Road, Your City, NY 1234
                 br
                 br
                 br
                 br
                 i.fa.fa-phone.footer-medium__number(aria-hidden="true")
                 span.footer-medium__textmed +123 456 7890
                 br
                 br
                 br
                 br
                 i.fa.fa-clock-o.footer-medium__number(aria-hidden="true")
                 span.footer-medium__textmed 7 Days a week from 10:00 am to 6:00 pm
                 br
                 br
                 br
                 br
                 i.fa.fa-envelope.footer-medium__number(aria-hidden="true")
                 span.footer-medium__textmed info@psd.in.ua


