section.footer
    .container

        ul.footer__list
            li.footer__item

                h2.footer__title.div1 QUICK LINKS
                hr
                p.footer__text About Us
                p.footer__text Customers Service
                p.footer__text Privacy Policy
                p.footer__text Site Map
                p.footer__text Search Terms
                p.footer__text Advanced Search
                p.footer__text Orders and Returns
                p.footer__text Contact Us


            li.footer__item
                h2.footer__title.div1 QUICK LINKS
                hr
                p.footer__text Privacy Policy
                p.footer__text Site Map
                p.footer__text Search Terms
                p.footer__text Advanced Search
                p.footer__text About Us
                p.footer__text Customers Service
                p.footer__text Orders and Returns
                p.footer__text Contact Us


            li.footer__item

                h2.footer__title.div1 QUICK LINKS
                hr
                p.footer__text About Us
                p.footer__text Customers Service
                p.footer__text Privacy Policy
                p.footer__text Site Map
                p.footer__text Search Terms
                p.footer__text Advanced Search
                p.footer__text Orders and Returns
                p.footer__text Contact Us


            li.footer__item

                h2.footer__title.div1 NEWSLETTER
                hr
                p.footer__textletter1 Lorem ipsum dolor sit amet, consectetur adi-
                p.footer__textletter2 piscing elit, sed do eiusmod tempor incididunt
                input.footer__input(type='text')
                a.button(href="#") SUBMIT
                br
                br
                br
                br
                br
                i.class.fa.fa-facebook.footer__number(aria-hidden="true")
                i.class.fa.fa-twitter.footer__number(aria-hidden="true")
                i.class.fa.fa-google-plus.footer__number(aria-hidden="true")
                i.class.fa.fa-instagram.footer__number(aria-hidden="true")
                i.class.fa.fa-pinterest-square.footer__number(aria-hidden="true")
                br
                br
                br
                br
                br
                br



