header.header
  .header__top
    .container
        include contacts
  .header__medium
    .container
        .logo: img.logo__picture(src="images/logo.png" alt="pictures")
    .container
        include info

  .header__bottom
    .container
        include nav




