header.header
  .header__top
      .container
          .contacts
              a.contact(href="index.html")
                i.fa.fa-user(aria-hidden="true")
                  span.contact__text My Account

                a.contact(href="index.html")
                  i.fa.fa-shopping-cart(aria-hidden="true")
                    span.contact__text Cart

              a.contact(href="index.html")
                i.fa.fa-check-circle(aria-hidden="true")
                  span.contact_text Checkout

              a.search-icon(href="index.html")
                i.fa.fa-search(aria-hidden="true")
.container
  .header_bottom
      .logo: img.logo__picture(src="images/logo.png" alt="pictures")