.info
    .container
        a.contact.num(href="tel:+1234567890")
            i.fa.fa-mobile.contact__number(aria-hidden="true")
            span.contact_text__2 +123 456 7890
        br
        span.contact__text__3 MON-FRI: 8:30AM-7:30PM; SAT-SUN: 9:30AM-4:30PM

    .container
        a.contact(href="index.html")
            i.fa.fa-star.contact__number(aria-hidden="true")
            br
            span.contact_text__2 WHITELIST
    .container
        a.contact(href="index.html")
            i.fa.fa-car.contact__number(aria-hidden="true")
            br
            span.contact_text__2 COMPARE
    .container
        a.contact(href="index.html")
            i.fa.fa-shopping-cart.contact__number(aria-hidden="true")
            br
            span.contact_text__2 MY CART