section.offers

  .container
     ul.offers__list
         li.offers__item
            h1.offers__header 25% OFF
            h2.offers__cell ON ORDER OVER $999
            p.offers__text This Offer Is valid on all our items

     ul.offers__list
         li.offers__item
            h1.offers__header 25% OFF
            h2.offers__cell ON ORDER OVER $999
            p.offers__text This Offer Is valid on all our items




