.offers {
  min-height: 675px;
  min-width: 1600px;


  background: url('../images/OffersBG.png') center/cover no-repeat;

  font-family: $ff-main;
  padding: 99px 0 0 0;
  text-align: center;
  color: white;
.DAB{
  border-left: #fff solid 3px;
  padding-left: 170px;
  padding-top: 0;
}
  &__list {
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 0 50px;

  }

  &__header {
    font-size: 6rem;
    margin-top: -60px;
  }

  &__cell {
    font-size: 2.8rem;
    margin-top: -60px;

  }

  &__text {
    margin-top: -10px;
    font-size: 1.12rem;
  }

  .button {
    background-color: #9c1c28;
    color: white;
    font-family: $ff-main;
    margin-top: 15px;
    border-radius: 100px;
    font-size: 1.5rem;
    width: 43%;

    &:hover {
      background-color: lighten(#9c1c28, 10%);
    }

  }
}