.title {
  margin-bottom: 65px;
  text-align: center;


  &.div1 {
    margin: 0;
    font-size: 2.25rem;
    font-family: $ff-main;
    line-height: 1;
  }

  &__text {
    font-size: 1.25rem;
    font-family: $ff-main;
  }

  &--with-bottom-line {
    position: relative;

    &:after {
      @include centerer-x();

      content: '';
      bottom: -20px;
      width: 112px;
      height: 6px;
      background: #9c1c28;
    }
  }

  &--with-bottom-line1 {
    position: relative;

    &:after {
      @include centerer-x();

      content: '';
      bottom: -20px;
      width: 80px;
      height: 6px;
      background: #9c1c28;
    }
  }
}