$work-item-height: 37px;
$work-item-total-width: 167px;
$work-item-total-height: 160px;
$work-item-image: '../image/sprite.png';
$work-item: (66px, 81px, -66px, -81px, 36px, 37px, 167px, 160px, '../image/sprite.png')